@model IEnumerable<Requisito>

<div class="table-responsive padding-10">
    <table id="datatable-responsive" data-page-length="50" class="table table-striped table-bordered dataTable" cellspacing="0">
        <thead>
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().IdRequisito)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Documento.RequisitoLegal.IdOrganismoControl)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().IdDocumento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Observaciones)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().IdCiudad)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().IdProceso)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().IdProyecto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().ICF)
                </th>
                <th>
                    Terminado
                </th>
                <th>
                    Estado
                </th>

                <th>
                    Opciones
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in Model.OrderBy(x => x.FechaCaducidad))
                {
                    if (item.Habilitado || User.IsInRole(Perfiles.Administrador))
                    {
                        <tr>

                            <td>
                                <p class="font-12 text-left">@item.IdRequisito </p>
                            </td>
                            <td>
                                <p class="font-12 text-left">@item.Documento.RequisitoLegal.OrganismoControl.Nombre </p>
                            </td>
                            <td>
                                <p class="font-12 text-left">@item.Documento.Nombre </p>
                            </td>
                            <td>
                                <p class="font-12 text-left">@item.Observaciones </p>
                            </td>
                            <td>
                                <p class="font-12 text-left">@item.Ciudad.Nombre </p>
                            </td>
                            <td>
                                <p class="font-12 text-left">@item.Proceso.Nombre </p>
                            </td>
                            <td>
                                <p class="font-12 text-left" s>@item.Proyecto.Nombre </p>
                            </td>
                            <td>
                                <p class="font-12 text-left" s>@item.ICF </p>
                            </td>
                            <td>
                                @{
                                    if (item.IdStatus == 3)
                                    {
                                        <p class="font-12 text-left" s>SI</p>
                                    }
                                    else
                                    {
                                        <p class="font-12 text-left" s>NO</p>
                                    }
                                }
                            </td>
                            <td>
                                @{await Html.RenderPartialAsync("_Badge", item);}
                            </td>

                            <td>
                                <a asp-action="Detalles" onclick="MiApp.LoadingPanel.mostrarNotificacion('bodyTemplate', '')" class="font-12" asp-route-id="@item.IdRequisito">Acciones</a>
                                @{
                                    if (User.IsInRole(Perfiles.Gestor) || User.IsInRole(Perfiles.Administrador))
                                    {
                                        <br />
                                        <a asp-action="Gestionar" onclick="MiApp.LoadingPanel.mostrarNotificacion('bodyTemplate', '')" class="font-12" asp-route-id="@item.IdRequisito">Editar</a><br />

                                    }
                                    if (User.IsInRole(Perfiles.Administrador))
                                    {
                                        <a href="javascript:void(0);" class="btnCambiarHabilitar font-12" id="@item.IdRequisito" onclick="MiApp.Datatables.eventoBtnCambiarHabilitar(this)" data-descripcion="&#191;Desea cambiar el estado del Requisito... ?">
                                            @if (item.Habilitado)
                                            {<text>Desabilitar</text> }
                                        else
                                        {<text>Habilitar</text>}
                                        </a>

                                        <a href="javascript:void(0);" class="btnEliminar font-12" id="@item.IdRequisito" onclick="MiApp.Datatables.eventoBtnEliminar(this)" data-descripcion="&#191;Desea eliminar el Requisito... ?">Eliminar</a>
                                    }


                                }
                            </td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</div>