@model Requisito
@{
    ViewData["Titulo"] = "GESTI\u00D3N DE REQUISITOS";
    ViewData["Subtitulo"] = ViewData["accion"];
}
@using SistemasLegales.Models.Utiles;
@section Migas{
    <li><a asp-action="Index" onclick="MiApp.LoadingPanel.mostrarNotificacion('bodyTemplate', '')">Requisitos</a></li>
    <li class="active">@ViewData["accion"]</li>
}
@section CSS{
    <link href="~/lib/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" />
    <link href="~/lib/boootstrap-datepicker/bootstrap-datepicker3.min.css" rel="stylesheet" />
    <link href="~/lib/jquery-spinner/css/bootstrap-spinner.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap-fileinput/css/fileinput.min.css">
}

@{
    var adm = User.IsInRole("Administrador") || User.IsInRole("AdministradorEmpresa");

}



<input type="hidden" id="idAdministrador" value="@adm.ToString().ToLower()" />
<form asp-action="Gestionar" novalidate="novalidate" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="IdStatusAnterior" />
    @{
        if (Model != null)
        {
            <input type="hidden" asp-for="IdRequisito" />
        }
    }


    <div class="row col-lg-12">
        @{
            if ((User.Identity.IsAuthenticated == true) && (Model.IdStatusAnterior == EstadoRequisito.Terminado) && (User.IsInRole(Perfiles.Administrador) || User.IsInRole(Perfiles.AdministradorEmpresa)) && (Model != null) && (Model.IdStatus == EstadoRequisito.Terminado))
            {
                <div class="row">
                    <div class="col-md-offset-3 col-xs-offset-3 col col-lg-12">
                        <button type="submit" asp-action="Finalizar" class="btn btn-primary ladda-button col-lg-6" data-style="expand-left" id="btn-guardar-1">
                            <span class="ladda-label" id="laddaSpanGuardar-1">FINALIZAR &nbsp;&nbsp;&nbsp;&nbsp;REQUISITO</span>
                        </button>
                    </div>
                </div>
            }
        }

    </div>

    <div class="row">

        <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
            <div class="card-inner padding-0 margin-bottom-0">
                <label asp-for="IdEmpresa"></label>
                <div class="demo margin-top-0">
                    <select asp-for="IdEmpresa" class="form-control show-tick" data-live-search="true" asp-items="ViewBag.Empresas"></select>
                </div>
                <span asp-validation-for="IdEmpresa" class="text-danger"></span>
            </div>
        </div>
        <div id="divOrganismoControl">
            <div class="col-sm-12 col-md-3 col-lg-3 col-xs-12">
                <div class="card-inner padding-0 margin-bottom-0">
                    <label asp-for="Documento.RequisitoLegal.IdOrganismoControl"></label>
                    <div class="demo margin-top-0">

                        @if (adm)
                        {
                            <select asp-for="Documento.RequisitoLegal.IdOrganismoControl" class="form-control show-tick" data-live-search="true" asp-items="ViewBag.OrganismoControl"></select>

                        }
                        else
                        {
                            <select disabled asp-for="Documento.RequisitoLegal.IdOrganismoControl" class="form-control show-tick" data-live-search="true" asp-items="ViewBag.OrganismoControl"></select>
                            <input type="hidden" asp-for="Documento.RequisitoLegal.IdOrganismoControl" />
                        }
                    </div>
                    <span asp-validation-for="Documento.RequisitoLegal.IdOrganismoControl" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div id="divRequisitoLegal">
            @*@{await Html.RenderPartialAsync("_RequisitoLegalSelect", Model);}*@
            <div class="col-sm-12 col-md-3 col-lg-3 col-xs-12">
                <div class="card-inner padding-0 margin-bottom-0">
                    <label asp-for="Documento.IdRequisitoLegal"></label>
                    <div class="demo margin-top-0">
                        @if (User.IsInRole("Administrador") || User.IsInRole("AdministradorEmpresa"))
                        {
                            <select asp-for="Documento.IdRequisitoLegal" class="form-control show-tick" data-live-search="true" asp-items="ViewBag.RequisitoLegal"></select>


                        }
                        else
                        {
                            <select disabled asp-for="Documento.IdRequisitoLegal" class="form-control show-tick" data-live-search="true" asp-items="ViewBag.RequisitoLegal"></select>
                            <input type="hidden" asp-for="Documento.IdRequisitoLegal" />
                        }
                    </div>
                    <span asp-validation-for="Documento.IdRequisitoLegal" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div id="divDocumento">
            @*@{await Html.RenderPartialAsync("_DocumentoSelect", Model);}*@
            <div class="col-sm-12 col-md-3 col-lg-3 col-xs-12">
                <div class="card-inner padding-0 margin-bottom-0">
                    <label asp-for="IdDocumento"></label>
                    <div class="demo margin-top-0">
                        @if (User.IsInRole("Administrador") || User.IsInRole("AdministradorEmpresa"))
                        {
                            <select asp-for="IdDocumento" class="form-control show-tick" data-live-search="true" asp-items="ViewBag.Documento"></select>

                        }
                        else
                        {
                            <select disabled asp-for="IdDocumento" class="form-control show-tick" data-live-search="true" asp-items="ViewBag.Documento"></select>
                            <input type="hidden" asp-for="IdDocumento" />
                        }
                    </div>
                    <span asp-validation-for="IdDocumento" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-3 col-lg-3 col-xs-12">
            <div class="card-inner padding-0 margin-bottom-0">
                <label asp-for="IdCiudad"></label>
                <div class="demo margin-top-0">
                    @if (adm)
                    {
                        <select asp-for="IdCiudad" class="form-control show-tick" data-live-search="true" asp-items="ViewBag.Ciudad"></select>

                    }
                    else
                    {
                        <select disabled asp-for="IdCiudad" class="form-control show-tick" data-live-search="true" asp-items="ViewBag.Ciudad"></select>
                        <input type="hidden" asp-for="IdCiudad" />
                    }
                </div>
                <span asp-validation-for="IdCiudad" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-3 col-lg-3 col-xs-12">
            <div class="card-inner padding-0 margin-bottom-0">
                <label asp-for="IdProceso"></label>
                <div class="demo margin-top-0">
                    @if (adm)
                    {
                        <select asp-for="IdProceso" class="form-control show-tick" data-live-search="true" asp-items="ViewBag.Proceso"></select>


                    }
                    else
                    {
                        <select disabled asp-for="IdProceso" class="form-control show-tick" data-live-search="true" asp-items="ViewBag.Proceso"></select>
                        <input type="hidden" asp-for="IdProceso" />
                    }
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 col-xs-12">
            <div class="card-inner padding-0 margin-bottom-0">
                <label asp-for="IdProyecto"></label>
                <div class="demo margin-top-0">
                    @if (adm)
                    {
                        <select asp-for="IdProyecto" class="form-control show-tick" data-live-search="true" asp-items="ViewBag.Proyecto"></select>


                    }
                    else
                    {
                        <select disabled asp-for="IdProyecto" class="form-control show-tick" data-live-search="true" asp-items="ViewBag.Proyecto"></select>
                        <input type="hidden" asp-for="IdProyecto" />
                    }

                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 col-xs-12">
            <div class="card-inner padding-0 margin-bottom-0">
                <label asp-for="IdActorDuennoProceso"></label>
                <div class="demo margin-top-0">
                    @if (adm)
                    {
                        <select asp-for="IdActorDuennoProceso" class="form-control show-tick" data-live-search="true" asp-items="ViewBag.Actor"></select>
                    }
                    else
                    {
                        <select disabled asp-for="IdActorDuennoProceso" class="form-control show-tick" data-live-search="true" asp-items="ViewBag.Actor"></select>
                        <input type="hidden" asp-for="IdActorDuennoProceso" />
                    }

                </div>
                <span asp-validation-for="IdActorDuennoProceso" class="text-danger"></span>
            </div>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 col-xs-12">
            <div class="card-inner padding-0 margin-bottom-0">
                <label asp-for="IdActorResponsableGestSeg"></label>
                <div class="demo margin-top-0">
                    @if (adm)
                    {
                        <select asp-for="IdActorResponsableGestSeg" class="form-control show-tick" data-live-search="true" asp-items="ViewBag.Actor"></select>
                    }
                    else
                    {
                        <select disabled asp-for="IdActorResponsableGestSeg" class="form-control show-tick" data-live-search="true" asp-items="ViewBag.Actor"></select>
                        <input type="hidden" asp-for="IdActorResponsableGestSeg" />
                    }

                </div>
                <span asp-validation-for="IdActorResponsableGestSeg" class="text-danger"></span>
            </div>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 col-xs-12">
            <div class="card-inner padding-0 margin-bottom-0">
                <label asp-for="IdActorCustodioDocumento"></label>
                <div class="demo margin-top-0">
                    @if (adm)
                    {
                        <select asp-for="IdActorCustodioDocumento" class="form-control show-tick" data-live-search="true" asp-items="ViewBag.Actor"></select>
                    }
                    else
                    {
                        <select disabled asp-for="IdActorCustodioDocumento" class="form-control show-tick" data-live-search="true" asp-items="ViewBag.Actor"></select>
                        <input type="hidden" asp-for="IdActorCustodioDocumento" />
                    }

                </div>
                <span asp-validation-for="IdActorCustodioDocumento" class="text-danger"></span>
            </div>
        </div>

        <div class="col-sm-12 col-md-3 col-lg-3 col-xs-12">
            <div class="card-inner padding-0 margin-bottom-0">
                <div class="form-group">

                    <label>Criticidad</label>

                    <div class="demo margin-top-0">
                        @if (adm)
                        {
                            <select asp-for="Criticidad" class="form-control show-tick" data-live-search="true">

                                <option value="1">Bajo impacto</option>
                                <option value="5">Medio impacto</option>
                                <option value="9">Alto impacto</option>

                            </select>
                        }
                        else
                        {
                            <select disabled asp-for="Criticidad" class="form-control show-tick" data-live-search="true">
                                <option value="1">Bajo impacto</option>
                                <option value="5">Medio impacto</option>
                                <option value="9">Alto impacto</option>
                            </select>
                            <input type="hidden" asp-for="Criticidad" />
                        }
                    </div>

                    <span asp-validation-for="Criticidad" class="text-danger"></span>

                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-3 col-lg-3 col-xs-12">
            <div class="card-inner padding-0 margin-bottom-0">
                <div class="form-group">

                    <label>Factor IF</label>

                    <div class="demo margin-top-0">
                        @if (adm)
                        {
                            <select asp-for="FactorIF" class="form-control show-tick" data-live-search="true">
                                <option value="0">No implementado y no hay planes de implementación</option>
                                <option value="1">No implementado, pero hay planes para hacerlo</option>
                                <option value="3">Implementado parcialmente, pero no documentado Y no aplicado correctamente</option>
                                <option value="6">Implementado parcialmente, pero no documentado O no aplicado correctamente</option>
                                <option value="9">Completamente implementado, lo que significa documentado y aplicado correctamente</option>
                            </select>
                        }
                        else
                        {
                            <select disabled asp-for="FactorIF" class="form-control show-tick" data-live-search="true">
                                <option value="0">No implementado y no hay planes de implementación</option>
                                <option value="1">No implementado, pero hay planes para hacerlo</option>
                                <option value="3">Implementado parcialmente, pero no documentado Y no aplicado correctamente</option>
                                <option value="6">Implementado parcialmente, pero no documentado O no aplicado correctamente</option>
                                <option value="9">Completamente implementado, lo que significa documentado y aplicado correctamente</option>
                            </select>
                            <input type="hidden" asp-for="FactorIF" />
                        }
                    </div>

                    <span asp-validation-for="FactorIF" class="text-danger"></span>

                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-3 col-lg-3 col-xs-12">
            <div class="form-group">
                <label asp-for="ICF"></label>
                <div class="input-group spinner focused margin-bottom-0" data-trigger="spinner">

                    <input disabled asp-for="ICF" class="form-control" data-rule="quantity" />
                    <input type="hidden" asp-for="ICF" />

                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-sm-12 col-md-3 col-lg-3 col-xs-12">
            <div class="form-group">
                <label asp-for="FechaCumplimiento"></label>
                <div class="input-group margin-bottom-0 focused">
                    @if (adm)
                    {
                        <input asp-for="FechaCumplimiento" class="form-control datepicker" />
                    }
                    else
                    {
                        <input disabled asp-for="FechaCumplimiento" class="form-control datepicker" />
                        <input type="hidden" asp-for="FechaCumplimiento" />
                    }

                    <span class="input-group-addon bg btndatepicker" data-picker="FechaCumplimiento"><i class="fa fa-calendar"></i></span>
                </div>
                <span asp-validation-for="FechaCumplimiento" class="text-danger"></span>
            </div>
        </div>

        <div class="col-sm-12 col-md-3 col-lg-3 col-xs-12">
            <div class="form-group">
                <label asp-for="FechaCaducidad"></label>
                <div class="input-group margin-bottom-0 focused">
                    @if (adm)
                    {
                        <input asp-for="FechaCaducidad" class="form-control datepicker" />

                    }
                    else
                    {
                        <input disabled asp-for="FechaCaducidad" class="form-control datepicker" />
                        <input type="hidden" asp-for="FechaCaducidad" />

                    }
                    <span class="input-group-addon bg btndatepicker" data-picker="FechaCaducidad"><i class="fa fa-calendar"></i></span>
                </div>
                <span asp-validation-for="FechaCaducidad" class="text-danger"></span>
            </div>
        </div>

        <div class="col-sm-12 col-md-3 col-lg-3 col-xs-12">
            <div class="card-inner padding-0 margin-bottom-0">
                <label asp-for="IdStatus"></label>
                <div class="demo margin-top-0">
                    <select asp-for="IdStatus" class="form-control show-tick" data-live-search="true" asp-items="ViewBag.Status"></select>
                </div>
                <span asp-validation-for="IdStatus" class="text-danger"></span>
            </div>
        </div>

        <div class="col-sm-12 col-md-3 col-lg-3 col-xs-12">
            <div class="form-group">
                <label asp-for="DiasNotificacion"></label>
                <div class="input-group spinner focused margin-bottom-0" data-trigger="spinner">
                    @if (adm)
                    {
                        <input type="text" asp-for="DiasNotificacion" class="form-control" data-rule="quantity" />

                    }
                    else
                    {
                        <input disabled type="text" asp-for="DiasNotificacion" class="form-control" data-rule="quantity" />
                        <input type="hidden" asp-for="DiasNotificacion" />

                    }

                    <span class="input-group-addon">
                        <a href="javascript:;" class="spin-up" data-spin="up"><i class="glyphicon glyphicon-chevron-up"></i></a>
                        <a href="javascript:;" class="spin-down" data-spin="down"><i class="glyphicon glyphicon-chevron-down"></i></a>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-3 col-lg-3 col-xs-12">
            <div class="card-inner padding-0 margin-bottom-0">
                <label asp-for="EsLegal"></label>
                <div class="demo margin-top-0">
                    @if (adm)
                    {
                        <select asp-for="EsLegal" class="form-control show-tick" data-live-search="true">

                            <option value="1">Si</option>
                            <option value="0">No</option>

                        </select>
                    }
                    else
                    {
                        <select disabled asp-for="EsLegal" class="form-control show-tick" data-live-search="true">
                            <option value="1">Si</option>
                            <option value="0">No</option>
                        </select>
                        <input type="hidden" asp-for="EsLegal" />
                    }
                </div>
            </div>
            <span asp-validation-for="EsLegal" class="text-danger"></span>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xs-12">
            <div class="form-group">
                <div class="input-group margin-bottom-0">
                    <label asp-for="EmailNotificacion1"></label>
                    @if (adm)
                    {
                        <input asp-for="EmailNotificacion1" class="form-control" />


                    }
                    else
                    {

                        <input disabled asp-for="EmailNotificacion1" class="form-control" />
                        <input type="hidden" asp-for="EmailNotificacion1" />
                    }
                </div>
                <span asp-validation-for="EmailNotificacion1" class="text-danger"></span>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-6 col-xs-12">
            <div class="form-group">
                <div class="input-group margin-bottom-0">
                    <label asp-for="EmailNotificacion2"></label>
                    @if (adm)
                    {
                        <input asp-for="EmailNotificacion2" class="form-control" />


                    }
                    else
                    {

                        <input disabled asp-for="EmailNotificacion2" class="form-control" />
                        <input type="hidden" asp-for="EmailNotificacion2" />
                    }

                </div>
                <span asp-validation-for="EmailNotificacion2" class="text-danger"></span>
            </div>
        </div>
    </div>



    @{
        if (User.IsInRole(Perfiles.Administrador) || User.IsInRole(Perfiles.AdministradorEmpresa))
        {
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
                    <div class="form-group">
                        <div class="input-group margin-bottom-0">
                            <label asp-for="Observaciones"></label>
                            <textarea asp-for="Observaciones" class="form-control" rows="4"></textarea>
                        </div>
                        <span asp-validation-for="Observaciones" class="text-danger"></span>
                    </div>
                </div>
            </div>
        }

        else
        {
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
                    <div class="form-group">
                        <div class="input-group margin-bottom-0">
                            <label asp-for="Observaciones"></label>
                            <textarea asp-for="Observaciones" class="form-control" rows="4" readonly="readonly"></textarea>
                        </div>
                        <span asp-validation-for="Observaciones" class="text-danger"></span>
                    </div>
                </div>
            </div>
        }
    }


    @{ if (Model != null)
        {
            if (Model.Accion.Count != 0)
            {
                <fieldset>

                    <legend>Acciones realizadas</legend>
                    <div class="col-lg-12"> <a asp-action="Detalles" onclick="MiApp.LoadingPanel.mostrarNotificacion('bodyTemplate', '')" asp-route-id="@Model.IdRequisito" class="btn btn-primary">Ir a Gestionar Acciones</a></div>
                    <div class="table-responsive padding-15">
                        <table id="datatable-responsive" class="table" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>
                                        Fecha
                                    </th>
                                    <th>
                                        Detalle
                                    </th>
                                    @{
                                        if (User.IsInRole(Perfiles.Administrador) || User.IsInRole(Perfiles.AdministradorEmpresa))
                                        {
                                            <th>
                                                Opciones
                                            </th>
                                        }
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Accion)
                                {
                                    <tr>
                                        <td class="datepicker text-justify">
                                            @string.Format("{0:dd/MM/yyyy}", item.Fecha)

                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Detalle)
                                        </td>
                                        @{
                                            if (User.IsInRole(Perfiles.Administrador) || User.IsInRole(Perfiles.AdministradorEmpresa))
                                            {
                                                <td>
                                                    <a href='javascript:void (0)' title='Eliminar' onclick="EliminarAccion(@item.IdAccion)">Eliminar</a>
                                                </td>
                                            }
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </fieldset>
            }
        }
    }
    <fieldset>
        <legend>Documentaci&oacute;n adicional</legend>
        <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12">
                <input type="file" id="file" name="file" />
            </div>
            @{
                if (Model != null)
                {
                    <div class="col-md-12 col-xs-12 col-sm-12">
                        @{await Html.RenderPartialAsync("_FileDownload", Model?.DocumentoRequisito);}
                    </div>
                }
            }
        </div>

    </fieldset>

    @*@{
            if (ViewData["accion"].ToString() == "Editar")
            {
                ViewData["Editar"] = false;
            }
            else
            {
                ViewData["Editar"] = true;
            }
        }*@

    <div class="row">
        <div class="col-md-offset-5 col-xs-offset-6">
            <button type="submit" class="btn btn-primary ladda-button" data-style="expand-left" id="btn-guardar">
                <span class="ladda-label" id="laddaSpanGuardar">ACEPTAR</span>
            </button>
            @{
                if (User.IsInRole(Perfiles.Administrador) || User.IsInRole(Perfiles.AdministradorEmpresa))
                {
                    <button type="submit" asp-action="Clonar" class="btn btn-primary ladda-button" data-style="expand-left" id="btn-guardar-2" disabled="@ViewData["Editar"]">
                        <span class="ladda-label" id="laddaSpanGuardar-2">CLONAR</span>
                    </button>
                }
            }
            <a asp-action="Index" onclick="MiApp.LoadingPanel.mostrarNotificacion('bodyTemplate', '')" class="btn btn-default">CANCELAR</a>
        </div>
    </div>



</form>


@section Scripts{

    <script src="~/lib/jquery-spinner/js/jquery.spinner.js"></script>
    <script src="~/js/moment/moment.js"></script>
    <script src="~/js/moment/moment-with-locales.js"></script>
    @{ await Html.RenderPartialAsync("_DatepickerPartial"); }

    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    @{await Html.RenderPartialAsync("_FileInputScriptsPartial");}
    @*<script>
        var urlRequisitoLegalSelectResult = "@Url.Action("RequisitoLegal_SelectResult")";
        var urlDocumentoSelectResult = "@Url.Action("Documento_SelectResult")";
    </script>*@
    <script src="~/js/fileInput/fileInput.min.js"></script>
    <script src="~/js/requisito/gestionar.min.js"></script>
   



    <script type="text/javascript">

        var perfilAdmin = $("#idAdministrador").val();


        $("#IdEmpresa").on("change", function (e) {
            cargarObtenerOrganismoControlPorEmpresa();
        });

        $("#Documento_RequisitoLegal_IdOrganismoControl").on("change", function (e) {
            obtenerRequisitoLegalPorOrganismoControl();
        });

        $("#Documento_IdRequisitoLegal").on("change", function (e) {
            obtenerDocumentoPorRequisitoLegal();
        });


        this.cargarObtenerOrganismoControlPorEmpresa = function () {
            MiApp.LoadingPanel.mostrarNotificacion("bodyTemplate", "Cargando requisitos ...");
            var url = "@Url.Action("ObtenerOrganismoControlPorEmpresa","Requisito")"; ''
            $("#Documento_RequisitoLegal_IdOrganismoControl").empty();
            $.ajax({
                url: url,
                method: "POST",
                data: { IdEmpresa: $("#IdEmpresa").val() },
                success: function (data) {
                    $.each(data, function (i, data) {
                        $("#Documento_RequisitoLegal_IdOrganismoControl").append('<option value="'
                            + data.idOrganismoControl + '">'
                            + data.nombre + '</option>');
                    });
                },
                error: function (errorMessage) {
                    MiApp.Mensajes.mostrarNotificacion("error", "Ocurrió un error al cargar los requisitos legales, inténtelo nuevamente.");
                },
                complete: function () {
                    cargarObtenerCiudadPorEmpresa();
                    obtenerRequisitoLegalPorOrganismoControl();

                }
            });
        };

        this.obtenerRequisitoLegalPorOrganismoControl = function () {
            MiApp.LoadingPanel.mostrarNotificacion("bodyTemplate", "Cargando requisitos legales...");

            var url = "@Url.Action("ObtenerRequisitoLegalPorOrganismoControl", "Requisito")";
            $("#Documento_IdRequisitoLegal").empty();
            $.ajax({
                url: url,
                method: "POST",
                data: { idOrganismoControl: $("#Documento_RequisitoLegal_IdOrganismoControl").val() },
                success: function (data) {
                    $.each(data, function (i, data) {
                        $("#Documento_IdRequisitoLegal").append('<option value="'
                            + data.idRequisitoLegal + '">'
                            + data.nombre + '</option>');
                    });
                    //$("#divRequisitoLegal").html(data);
                },
                error: function (errorMessage) {
                    MiApp.Mensajes.mostrarNotificacion("error", "Ocurrió un error al cargar los requisitos legales, inténtelo nuevamente.");
                },
                complete: function () {
                    $("#bodyTemplate").waitMe("hide");
                    obtenerDocumentoPorRequisitoLegal();
                    //eventoOrganismoControl();
                }
            });
        };

        this.obtenerDocumentoPorRequisitoLegal = function () {
            MiApp.LoadingPanel.mostrarNotificacion("bodyTemplate", "Cargando documentos...");
            var url = "@Url.Action("ObtenerDocumentoPorRequisitoLegal", "Requisito")";
            $("#IdDocumento").empty();
            $.ajax({
                url: url,
                method: "POST",
                data: { idRequisitoLegal: $("#Documento_IdRequisitoLegal").val() },
                success: function (data) {
                    $.each(data, function (i, data) {
                        $("#IdDocumento").append('<option value="'
                            + data.idDocumento + '">'
                            + data.nombre + '</option>');
                    });
                    //$("#divDocumento").html(data);
                },
                error: function (errorMessage) {
                    MiApp.Mensajes.mostrarNotificacion("error", "Ocurrió un error al cargar los documentos, inténtelo nuevamente.");
                },
                complete: function () {
                    //eventoRequisitoLegal();
                    $("#bodyTemplate").waitMe("hide");

                }
            });
        };

        this.cargarObtenerCiudadPorEmpresa = function () {
            MiApp.LoadingPanel.mostrarNotificacion("bodyTemplate", "Cargando Ciudad ...");
            $("#IdCiudad").empty();
            var url ="@Url.Action("ObtenerCiudadPorEmpresa", "Requisito")";
            $.ajax({
                url: url,
                method: "POST",
                data: { IdEmpresa: $("#IdEmpresa").val() },
                success: function (data) {
                    $.each(data, function (i, data) {
                        $("#IdCiudad").append('<option value="'
                            + data.idCiudad + '">'
                            + data.nombre + '</option>');
                    });
                },
                error: function (errorMessage) {
                    MiApp.Mensajes.mostrarNotificacion("error", "Ocurrió un error al cargar las ciudades, inténtelo nuevamente.");
                },
                complete: function () {
                    $("#bodyTemplate").waitMe("hide");
                    cargarObtenerProcesoPorEmpresa();
                }
            });
        };

        this.cargarObtenerProcesoPorEmpresa = function () {
            MiApp.LoadingPanel.mostrarNotificacion("bodyTemplate", "Cargando Procesos ...");
            $("#IdProceso").empty();
            var url = "@Url.Action("ObtenerProcesoPorEmpresa", "Requisito")";
            $.ajax({
                url: url,
                method: "POST",
                data: { IdEmpresa: $("#IdEmpresa").val() },
                success: function (data) {
                    $.each(data, function (i, data) {
                        $("#IdProceso").append('<option value="'
                            + data.idProceso + '">'
                            + data.nombre + '</option>');
                    });
                },
                error: function (errorMessage) {
                    MiApp.Mensajes.mostrarNotificacion("error", "Ocurrió un error al cargar los procesos, inténtelo nuevamente.");
                },
                complete: function () {
                    $("#bodyTemplate").waitMe("hide");
                    cargarObtenerProyectoPorEmpresa();
                }
            });
        };

        this.cargarObtenerProyectoPorEmpresa = function () {
            MiApp.LoadingPanel.mostrarNotificacion("bodyTemplate", "Cargando Proyectos ...");
            $("#IdProyecto").empty();
            var url ="@Url.Action("ObtenerProyectoPorEmpresa", "Requisito")";
            $.ajax({
                url: url,
                method: "POST",
                data: { IdEmpresa: $("#IdEmpresa").val() },
                success: function (data) {
                    $.each(data, function (i, data) {
                        $("#IdProyecto").append('<option value="'
                            + data.idProyecto + '">'
                            + data.nombre + '</option>');
                    });
                },
                error: function (errorMessage) {
                    MiApp.Mensajes.mostrarNotificacion("error", "Ocurrió un error al cargar los proyectos, inténtelo nuevamente.");
                },
                complete: function () {
                    $("#bodyTemplate").waitMe("hide");
                    cargarObtenerActorPorEmpresa();
                }
            });
        };

        this.cargarObtenerActorPorEmpresa = function () {
            MiApp.LoadingPanel.mostrarNotificacion("bodyTemplate", "Cargando Actores ...");
            var url = "@Url.Action("ObtenerActorPorEmpresa", "Requisito")";
            $("#IdActorDuennoProceso").empty();
            $("#IdActorResponsableGestSeg").empty();
            $("#IdActorCustodioDocumento").empty();
            $.ajax({
                url: url,
                method: "POST",
                data: { IdEmpresa: $("#IdEmpresa").val() },
                success: function (data) {
                    $.each(data, function (i, data) {
                        $("#IdActorDuennoProceso").append('<option value="'
                            + data.idActor + '">'
                            + data.nombres + '</option>');
                    });

                    $.each(data, function (i, data) {
                        $("#IdActorResponsableGestSeg").append('<option value="'
                            + data.idActor + '">'
                            + data.nombres + '</option>');
                    });
                    $.each(data, function (i, data) {
                        $("#IdActorCustodioDocumento").append('<option value="'
                            + data.idActor + '">'
                            + data.nombres + '</option>');
                    });

                },
                error: function (errorMessage) {
                    MiApp.Mensajes.mostrarNotificacion("error", "Ocurrió un error al cargar los actores, inténtelo nuevamente.");
                },
                complete: function () {
                    $("#bodyTemplate").waitMe("hide");
                }
            });
        };

        function FuncionClonar(valor) {

            var id = $("#IdRequisito").val();

            var data = {
                'idRequisito': id,

            };

            $.ajax({
                type: "POST",
                url: '@Url.Action("Clonar","Requisito")',
                data: data,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (msg) {
                    //MiApp.Mensajes.mostrarNotificacion("ok", "Ok");
                },
                error: function () {
                    MiApp.Mensajes.mostrarNotificacion("error", "No se pudo clonar el requisito");
                }
            });


        }

        function EliminarAccion(valor)
        {

            var mensaje = confirm("\u00bf Desea eliminar el acci\u00f3n ?");
            if (mensaje) {
                MiApp.LoadingPanel.mostrarNotificacion("bodyTemplate", "Eliminando la acci\u00f3n...");
             $.ajax({
                    type: 'POST',
                    url: '@Url.Action("EliminarAccion","Requisito")',
                 dataType: 'json',
                 data: { idAccion: valor, idRequisito: $("#IdRequisito").val()},
                 success: function (data) {

                     document.getElementById("datatable-responsive").innerHTML = "";
                     var newTable = " <table id=datatable-responsive class=table cellspacing=0";
                     newTable += "<thead>";

                     newTable += "<tr>";
                     newTable += "<th>Fecha</th>";
                     newTable += "<th >Detalle</th>";
                     newTable += "<th >Opciones</th>";
                     newTable += "</tr>";
                     newTable += "</thead>";
                     newTable += "<tbody>";
                     for (var i = 0; i < data.length; i++) {

                         newTable += "<tr >";
                         newTable += "<td class='datepicker'>" + moment(data[i].fecha).format("DD/MM/YYYY") + "</td > ";
                         newTable += "<td >" + data[i].detalle + "</td>";
                         if (perfilAdmin == "true") {
                             newTable += "<td>";
                             newTable += "<a href='javascript:void (0)'  title ='Eliminar' onclick='EliminarAccion(" + data[i].idAccion + ")'>Eliminar</a>";
                             newTable += "</td>";
                             newTable += "</tr>";
                         }
                     };
                     newTable += "</tbody>";
                     newTable += "</table>";
                     document.getElementById("datatable-responsive").innerHTML = newTable;
                     MiApp.Mensajes.mostrarNotificacion("success", "La acci\u00f3n se ha realizado satisfactoriamente.");

                    }, complete: function (data) {
                     $("#bodyTemplate").waitMe("hide");
                    },

                    error: function (ex) {
                        MiApp.Mensajes.mostrarNotificacion("error", "Ocurri\u00f3 un error al conectarse al servicio, int?ntelo nuevamente.");
                    }
                });
            }

        }
    </script>
}